# Python

# Django
*.log
*.pot
*.pyc
staticfiles/
__pycache__/
media/

# 虚拟环境
DjangoEnv/

# IDE - VSCode
.vscode/
*.code-workspace

# IDE - PyCharm
.idea/
*.iml
*.iws

# 系统文件
.DS_Store
Thumbs.db

# 其他
*.bak
*.swp
*.swo
*~

docs/*
db.sqlite3